<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
      <div>
        <!-- <a href="/users/logout">
          <button>Log Out</button>
        </a> -->
      </div>
    </header>
    <main>
      <div>
        <h1><%= title %></h1>
        <p>Welcome to <%= title %></p>
        <a href="/auth/google">Log In With Google</a>
      </div>
    </main>
 
  </body>
</html>
